In [1]:
ls

Opioid_Prescription_Rate_by_County_2006_2017.csv
Untitled.ipynb

In [6]:
import pandas as pd

df = pd.read_csv('./Opioid_Prescription_Rate_by_County_2006_2017.csv')

In [8]:
df.shape

(3221, 37)

In [9]:
df.columns

Index(['FID', 'STATEFP10', 'COUNTYFP10', 'COUNTYNS10', 'GEOID10', 'NAME10',
       'NAMELSAD10', 'LSAD10', 'CLASSFP10', 'MTFCC10', 'CSAFP10', 'CBSAFP10',
       'METDIVFP10', 'FUNCSTAT10', 'ALAND10', 'AWATER10', 'INTPTLAT10',
       'INTPTLON10', 'GISJOIN', 'County', 'State', 'FIPS_County_Code', 'F2006',
       'F2007', 'F2008', 'F2009', 'F2010', 'F2011', 'F2012', 'F2013', 'F2014',
       'F2015', 'F2016', 'F2017', 'mean', 'SHAPE_Length', 'SHAPE_Area'],
      dtype='object')

In [17]:
df.loc[:3, ['County', 'State', 'FIPS_County_code', 'F200']]

               County State  FIPS_County_code  F2008
0  Aleutians East, AK    AK               NaN    NaN
1  Aleutians West, AK    AK               NaN    NaN
2          Panola, MS    MS               NaN  137.9
3          Newton, MS    MS               NaN   58.7

In [31]:
unstacked_df = df.melt(id_vars=["County", "State"], 
        value_vars=["F2008", "F2009", "F2010"], var_name = 'Year', value_name = 'Death Rate')

In [40]:
unmelt_df = pd.melt(df, id_vars=["County", "State"], value_vars=["F2008", "F2009", "F2010", "F2011", "F2012"])

In [39]:
# unmelt_df[unmelt_df['variable'] == 'F2011']

Empty DataFrame
Columns: [County, State, variable, value]
Index: []

In [44]:
county_datasets = []
years = ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']
for year in years:
    df_scraped = pd.read_html(f"https://www.cdc.gov/drugoverdose/maps/rxcounty{year}.html")
    county_data = df_scraped[0]
    county_datasets.append(county_data)

In [56]:
for df, year in zip(county_datasets, years):
    df['Year'] = year

In [63]:
for df in county_datasets:
    df.columns = ['County', 'State', 'FIPS County Code', 'Prescribing Rate', 'Year']

In [66]:
combined_df = pd.concat(county_datasets, axis = 0)

In [71]:
# county_datasets[0]

In [72]:
combined_df.to_csv('./prescribing_rate_cdc.csv')

In [76]:
prescribing_rate_per_county = pd.read_csv('./prescribing_rate_cdc.csv', index_col = 0)

In [95]:
(prescribing_rate_per_county[prescribing_rate_per_county['Year'] == 2018]['Prescribing Rate'] == '–').sum()

0

In [96]:
prescribing_rate_per_county[:3]

               County State  FIPS County Code Prescribing Rate  Year
0  Aleutians East, AK    AK              2013                –  2008
1  Aleutians West, AK    AK              2016                –  2008
2       Anchorage, AK    AK              2020             75.6  2008

In [ ]:
prescribing_rate_per_county[prescribing_rate_per_county['Year'] == 2008]['Year'].isna().sum()

In [ ]:
# population, poverty, rural urban, college educated
# bill american survey, cancer data,

### Resources

[Tenn Aggregated Opioid](https://data-tga.opendata.arcgis.com/datasets/opioid-prescription-rate-by-county-2006-2017)

[US County Rates](https://www.cdc.gov/drugoverdose/maps/rxcounty2018.html)